.App {
  text-align: center;
}
/* body{
  background-image: url("wallpaper.jpg");
} */
h1{

  border-radius:5px;
  font-weight: 300;
  color: #fff;
  font-family: Sofia;

}

video {
  object-fit:fill;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
}

.registration{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-49%, -49%);
  display: flex;
  border-radius:50px;
  background-color: #001011;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 500px;
  height: 600px;
  font-family: Arial, Helvetica, sans-serif;
  flex-direction: column;
}

.login{
  
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-49%, -49%);
  border-radius:50px;
  
  background-color: #f72585;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 500px;
  height: 600px;
  font-family: Arial, Helvetica, sans-serif;
  flex-direction: column;
}

input {
  font-family: FontAwesome;
  font-style:normal;
    font-weight: normal;
    text-decoration: inherit;
  width: 250px;
  border-radius:60px;
  height: 40px;
    height: 50px;
    color: white !important;
    border: 1px solid transparent;
    background: rgba(255, 255, 255, 0.08);
    border-radius: 40px;
    padding-left: 20px;
    padding-right: 20px;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
}

button{
  font-family: Abril Fatface;
  background: #7209b7;
  border: transparent ;
  color: #fff ;
  line-height: 1.5;
    cursor: pointer;
    font-weight: 600;
    -webkit-box-shadow: none ;
    box-shadow: none ;
    font-size: 15px;
    text-transform: uppercase;
    border-radius:60px;
    width: 400px;
    height: 45px;
}
.regBtn:hover {
  transition-duration: 0.4s;
  background-color:orangered;
}
.regBtn {
  background-color: #6CCFF6;
}

.logBtn:hover {
  transition-duration: 0.4s;
  background-color: yellowgreen;
}
::placeholder {
  color: aliceblue;
  opacity: 1; 
  
}
hr{
  background-color: #000;
}
.textfield-username{
  padding-left: 20px;
    padding-right: 20px;
    
    
}
.textfield-password{
  padding-left: 20px;
    padding-right: 20px;
}

label {
  margin-bottom: 20px;
  color: transparent;
}

